<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
      <!-- Search (Pesquisa) -->
      <%= form_tag(products_path, method: :get) do %>
        <div class="input-group col-lg-6">
          <%= text_field_tag 'search', nil, placeholder: 'Informe o produto', :class => 'form-control' %>
          <span class="input-group-btn">
          <%= submit_tag "Pesquisar", class: "btn btn-default" %>
          <%= link_to "Limpar", products_path, :class => 'btn btn-warning'%>
          </span>
        </div>
      <% end %>
      <br>

      <% if current_user &&  current_user.admin? %>
          <%= link_to t('.new', :default => t("helpers.links.new")),
          new_product_path,
          :class => 'btn btn-primary' %>
      <% end %>
      </br>

<%= paginate @products %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <% if current_user &&  current_user.admin? %>
        <th><%= model_class.human_attribute_name(:store_price) %></th>
        <th><%= model_class.human_attribute_name(:price_one) %></th>
        <th><%= model_class.human_attribute_name(:price_two) %></th>
        <th><center><%= model_class.human_attribute_name(:inactive) %></th></center>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <% else %>
        <th>Preço</th>
      <% end %>
      <!--<th><%=t '.actions', :default => t("helpers.actions") %></th>-->
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <% if current_user &&  current_user.admin? %>
          <td><%= number_to_currency(product.store_price) %></td>
          <td><%= number_to_currency(product.price_one) %></td>
          <td><%= number_to_currency(product.price_two) %></td>
            
          <td><center><%= check_box_tag product.inactive, product.inactive, product.inactive, disabled: true %></td></center>
          <td><%=l product.created_at, format: :short %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_product_path(product), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        product_path(product),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are  you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
          <% else %>
            <td><%= number_to_currency(product.get_price(current_user.costumer_type)) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @products %>
